FILEVINE_ORG_ID=1234
FILEVINE_USER_ID=12345
FILEVINE_CLIENT_ID=xxxx-xxxx-xxxx-xxxx-xxxxxxx
FILEVINE_CLIENT_SECRET=xxxxxxx
FILEVINE_PAT_TOKEN=xxxxxxxx
FILEVINE_PAT_SCOPE=fv.api.gateway.access tenant filevine.v2.api.* email openid fv.auth.tenant.read
FILEVINE_BASE_URL=https://api.filevineapp.com/fv-app/v2

CTM_ACCOUNT_ID=12345
CTM_CONTACT_LIST_ID=xxxxxxxx
CTM_BASIC_AUTH=xxxxxxxxxx

LOG_PROGRESS_EVERY=10
